<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Interface</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>interface-confirm-votes</string>
			<key>Title</key>
			<string>Confirm Votes</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>disable-orange</string>
			<key>Title</key>
			<string>Less Orange</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Enable this option to log out of your selected bookmarking service next time you launch news:yc.</string>
			<key>Title</key>
			<string>Bookmarking Service</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Service</string>
			<key>Key</key>
			<string>chosen-bookmarking-service</string>
			<key>DefaultValue</key>
			<string>Instapaper</string>
			<key>Titles</key>
			<array>
				<string>Instapaper</string>
				<string>Pocket</string>
			</array>
			<key>Values</key>
			<array>
				<string>Instapaper</string>
				<string>Pocket</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>instapaper-logout</string>
			<key>Title</key>
			<string>Logout on Launch</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>news:yc © 2013 Xuzz Productions, LLC
Source code is on GitHub. BSD licensed.
            </string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
